.margin-top{margin-top:0;}
#form .weui-cell{background-color:#fff;}
.weui-label{width:110px;}
.weui-cell.align{
	-webkit-box-align: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.weui-cell__bd.color-danger{color:#f6383a !important;}

/* 鏀惰揣瀹㈡埛閮ㄥ垎 */
.about_custom{position:relative;}
.about_custom:before{
	content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 10;
}
.cell_link p{
	width:110px;
}
.cell_link .weui-cell__bd{
	color:#999;
}
.cell_link{
	padding:11px 15px;
}
.add_after:after{
	content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 15px;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 10;
    left:15px;
}
.change_before:before{
	left:0;
}
.show_custom{
	padding:10px 15px;
	font-size:16px;
	color:#666;
}
.show_custom .d_left{
	width:110px;
}
.show_custom .weui-flex{
	padding:2px 0;
}
/* 瑕佹眰鍒拌揪鏃堕棿 */
.no-left.weui-cell:before{
	left:0;
}
/*单位*/
.unit-weight:after{
	position:absolute;
	top:10px;
	right:15px;
	content:'kg';
	color:#999;
}
.unit-vol:after{
	position:absolute;
	top:10px;
	right:15px;
	content:'m³';
	color:#999;
}
	