.people_list{margin-top:0;}
.people_list .weui-cell{-webkit-flex-wrap: wrap;flex-wrap:wrap; -webkit-align-items: flex-start;align-items: flex-start;}
.weui-cell_access .weui-cell__ft{padding-right:20px;}
.weui-cell__ft > span.script{font-size: 13px;}
.weui-grid{width:20%;padding:15px 8px 0;}
.weui-grid:active{background-color:transparent;}
.weui-grid__icon{width:50px;height:50px;border-radius: 6px;position: relative;overflow: hidden;}
.weui-grid__icon img{width:100%;height:100%;}
.weui-grid:before{border-right:none;}
.weui-grid:after{border-bottom: none;}
.weui-grid__icon.deleteP.deleteP{border: 1px solid #ddd;}
.weui-grid__icon.deleteP:after{
	width:70%;
	height:1px;
	content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #d9d9d9;
}
.pl_part2 .weui-cell__ft > img{width:20px;}
.limitWidth p{width:97px;}
.limitWidth .weui-cell__ft{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.demos-content-padded.btn_mbottom{
		margin-bottom:65px;
	}
